@use './partials/header';
@use './partials/cinema';


@import '~bootstrap/scss/bootstrap';

body{
    background-color: rgb(0, 0, 19);
    
    a{
        color: white;
        text-decoration: none;
    }
}

